body {
  background-color: rgb(213, 188, 236);
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.title{
  font-size: 70px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
.text{
  font-size: 50px;
  text-align: center;
}
.console{
  font-size:30px;
  text-align: center;
}