body {
  background-color: rgb(213, 188, 236);
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  }
  .title{
  font-size: 70px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 0;
  }
  .text{
  font-size: 50px;
  text-align: center;
  }
  .console{
  font-size:30px;
  text-align: center;
  }
  .button{
  font-size: 14px;
  padding: 20px 40px;
  margin: auto;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
  }
  .button:hover{
  background-color: #fff;
  color:red;
  }
  
  .button:focus{
  outline: none;
  }